/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }


.section-padding {
  padding: 80px 0;
}
.section-title {
  margin-bottom: 60px;
}
body {
  color: #838383;
  font-size: 15px;
  line-height: 1.7;
}
h1,h2,h3,h4,h5,h6 {
  color: #333;
}
.owl-carousel .owl-item .single-staff-item img {
  max-width: 325px;
  width: 160px;
  border-radius: 50%;
}
.staff-meta {
  color: #D7D7D7;
  font-size: 13px;
  margin-top: 20px;
}
.staff-meta h3 {
  font-size: 19px;
  text-transform: uppercase;
  margin: 0 0 10px;
}


.staff-list.owl-carousel.owl-theme.owl-loaded {
}
.staff-list .owl-nav div {
    display: inline-block;
    height: 40px;
    width: 50px;
    background: #E3E3E3;
    text-align: center;
    line-height: 40px;
    font-size: 21px;
    margin-left: 10px;
    transition: .3s;
}
.staff-list .owl-nav div:hover{
    background-color: #14ADF3;
    color: #fff;

}
.staff-list .owl-nav{
    position: absolute;
    right: 0;
    top: -60px;
}